<table  datatable [dtOptions]="dtOptions" class="table table-bordered">
  <thead>
    <tr>
      <th>Action</th>
      <th>Syllabus</th>
      <th>Trade</th>
      <th>Level</th>
      <th>Uploaded Syllabus</th>
      <th>Uploaded Test Plan</th>
      <th>Language</th>
      <th>Active Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let syl of syllabuses">
      <td><a [routerLink]="['/syllabus/edit/', syl.syllabusId]">Edit</a></td>
      <td>{{syl.syllabusName}}</td>
      <td>{{syl.tradeName}}</td>
      <td>{{syl.level}}</td>
      <td><a href="#" (click)="download(syl.syllabusId)">{{syl.sylfile_name}}</a> </td>
      <td><a href="#" (click)="downloadTestplan(syl.syllabusId)">{{syl.testfile_name}}</a> </td>
     
      <td>{{syl.language}}</td>
      <td>{{syl.activeDate | date}}</td>
    </tr>
  </tbody>
</table>


