<div class="container">
 
    
  <form  #f="ngForm"  class="needs-validation" (ngSubmit)="onSubmit(f)" novalidate>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationTooltip01">Trade</label>
        <select (ngModel)="syllabus.trade" (ngModelChange)="dataChanged($event)" [ngModelOptions]="{standalone: true}" #TradeId="ngModel" name="TradeId"  [ngClass]="{ 'is-invalid': f.submitted && TradeId.invalid }" class="custom-select d-block w-100" required>
          <option *ngFor="let trade of trades" [ngValue]="trade.tradeId">{{trade.tradeName}}</option>
        </select>
        <div *ngIf="f.submitted && TradeId.invalid" class="invalid-feedback">
          <div *ngIf="TradeId.errors.required">Trade is required</div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationTooltip02">Level</label>
        <select (ngModel)="syllabus.LevelId" #LevelId="ngModel" name="LevelId" [ngClass]="{ 'is-invalid': f.submitted && LevelId.invalid }" class="custom-select d-block w-100" required>
          <option *ngFor="let level of levels" [ngValue]="level.tradeLevelId">{{level.level}}</option>
        </select>
        <div *ngIf="f.submitted && LevelId.invalid" class="invalid-feedback">
          <div *ngIf="LevelId.errors.required">Level is required</div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationTooltip01">Syllabus Name</label>
        <input (ngModel)="syllabus.SyllabusName" #SyllabusName="ngModel" name="SyllabusName" [ngClass]="{ 'is-invalid': f.submitted && SyllabusName.invalid }" type="text" class="form-control" required />
        <div *ngIf="f.submitted && SyllabusName.invalid" class="invalid-feedback">
          <div *ngIf="SyllabusName.errors.required">Syllabus Name is required</div>
        </div>

      </div>
      <div class="col-md-4 mb-3">
        <div class="custom-file">
          <label for="validationTooltip01">Upload Syllabus </label>
          <input type="file" class="form-control" id="customFile" name="SyllabusFile"  (change)="onFileSelectSyllabus($event)" accept=".pdf,.doc" required>
        

        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="custom-file">
          <label for="validationTooltip01">Upload Test Plan </label>
          <input type="file" class="form-control" id="customFile" (change)="onFileSelectTestPlan($event)" accept=".pdf,.doc" required>

        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationTooltip01">Development Officer</label>
        <input (ngModel)="syllabus.DevOfficer" #DevOfficer="ngModel" name="DevOfficer" [ngClass]="{ 'is-invalid': f.submitted && DevOfficer.invalid }" type="text" class="form-control" required />
        <div *ngIf="f.submitted && DevOfficer.invalid" class="invalid-feedback">
          <div *ngIf="DevOfficer.errors.required">Development Officer is required</div>
        </div>

      </div>
      <div class="col-md-4 mb-3">
        <div class="custom-file">
          <label for="validationTooltip01">Manager </label>
          <input (ngModel)="syllabus.Manager" #Manager="ngModel" name="Manager" [ngClass]="{ 'is-invalid': f.submitted && Manager.invalid }" type="text" class="form-control" required />
          <div *ngIf="f.submitted && Manager.invalid" class="invalid-feedback">
            <div *ngIf="Manager.errors.required">Manager is required</div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="custom-file">
          <label for="validationTooltip01">Active Date</label>
          <input (ngModel)="syllabus.ActiveDate" #ActiveDate="ngModel" name="ActiveDate" [ngClass]="{ 'is-invalid': f.submitted && ActiveDate.invalid }" type="date" class="form-control" required />
          <div *ngIf="f.submitted && ActiveDate.invalid" class="invalid-feedback">
            <div *ngIf="ActiveDate.errors.required">Manager is required</div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">

      <div class="col-md-4 mb">

        <div class="form-group row form-check">
          <h3>Languages</h3>

          <div class="checkbox" *ngFor="let list of xyzlist">
            <label>
              <input type="checkbox" value="{{list.id}}" (change)="onCheckboxChange(list,$event)">{{list.value}}
            </label>
          </div>
          <input type="hidden" (ngModel)="syllabus.Language"  #Language="ngModel" name="Language" />
        </div>
        
      </div>

    </div>
    <button class="btn btn-primary" type="submit">Submit form</button>
  </form>
</div>
